node_modules
.dockerignore
Dockerfile
.vscode
coverage
__snapshots__
Stuff.txt
docker-compose.yml
webpack.config.js
STYLE-GUIDE.md
details.pem
AWSCLIV2.pkg
Dockerfile.seed
.circleci
public
src
.git*
.eslintrc.js
jest.setup.js
FEC-proxy.pem